<h2><%= @sighting.species.name %> | <%= @sighting.longitude %> | <%= @sighting.latitude %> | <%= @sighting.date %></h2>

<button><a href="/">Home</a></button>
<button><a href="edit">Edit</a></button>
<button><a href="/species/<%= @species.id %>/sightings/<%= @sighting.id %>"
    data-confirm="Are you sure?"
    data-method="delete" rel="nofollow">
    Delete</a></button>
<button><a href="/species/<%= @sighting.species.id %>/sightings/new">Enter new sighting</a>
